<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sync" android:versionCode="1" android:versionName="1.0">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="@string/app_name" android:debuggable="true">
		<receiver android:name=".PluginInfo" android:enabled="true">
			<intent-filter>				
				<action android:name="android.fbreader.action.plugin.REGISTER" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		</receiver>
		<activity 
			android:name=".SyncAuth" 
			android:label="@string/sync_authentication"
			android:theme="@android:style/Theme.Dialog"
			>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
		</activity>
		<activity android:name=".MainScreen" android:label="@string/app_name" android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>			
			<intent-filter>			
				<action android:name="android.fbreader.action.plugin.RUN" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:host="sync.com" android:scheme="http" android:path="/sync" />
			</intent-filter>
		</activity>
	</application>
</manifest> 
